pycodestyle
pyflakes==1.6.0; python_version in '2.6 2.7 3.2 3.3'
pyflakes; python_version not in '2.6 2.7 3.2 3.3'
pylint==1.8; python_version in '3.2'
pylint==1.9; python_version in '2.6 2.7 3.3'
pylint; python_version not in '2.6 2.7 3.2 3.3'
pytest<3.0.0; python_version in '2.6 2.7 3.2'
pytest; python_version not in '2.6 2.7 3.2'
pyenchant
Jinja2; python_version != '3.2'
